
#btnchip
{background: #7cbb42;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 14px;
 cursor: pointer;
  width: 150px;
  height: 30px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
border-radius: 0px;
text-align: center;
}


#btnchip:hover
{
 
    text-transform: capitalize;
  width: 150px;
  height: 30px;
 
  color: #fff;
  text-align: center;
  background: #87d045;
  
  
}

#btn_btn_chip
{background: #7cbb42;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 14px;
 cursor: pointer;
  width: 60px;
 margin-top:10px;
  margin-left:20px;
  height: 30px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
border-radius: 0px;
float:right;
text-align: center;
}


#btn_btn_chip:hover
{
 
    text-transform: capitalize;
  width: 60px;
  height: 30px;
 
  color: #fff;
  text-align: center;
  background: #87d045;
  
  
}

#btnchip_play
{background: #7cbb42;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 14px;
 cursor: pointer;
  width: 150px;
  height: 37px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
border-radius: 0px;
margin-left:-80px;
margin-top:22px;
text-align: center;
}


#btnchip_play:hover
{
 
    text-transform: capitalize;
  width: 150px;
  height: 37px;
 
  color: #fff;
  text-align: center;
  background: #87d045;
  
  
}


#btnchip_play_
{background: #7cb447;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 14px;
 cursor: pointer;
  width: 150px;position: relative;
  height: 37px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
border-radius: 0px;
margin-left:-80px;
margin-top:22px;
text-align: center;
}


#btnchip_play_:hover
{
 
    text-transform: capitalize;
  width: 150px;
  height: 37px;
 
  color: #fff;
  text-align: center;
  background: #87d045;
  
  
}


#btn_chip_play_
{background: #7cbb42;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 14px;
 cursor: pointer;
  width: 150px;position: relative;
  height: 37px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
border-radius: 0px;

margin-top:22px;
text-align: center;
}


#btn_chip_play_:hover
{
 
    text-transform: capitalize;
  width: 150px;
  height: 37px;
 
  color: #fff;
  text-align: center;
  background: #87d045;
  
  
}
.TextField-without-border-radius fieldset { border-radius: 0; 
 width:400px;
  font-size: 8px;
  
  }
  .TextField-without-border-textfiled-radius fieldset{
    border-radius: 0; 
  }

  .TextField-without-top-border-radius fieldset { border-radius: 0; 
   padding-left: 30px;
   width:460px;
    font-size: 8px;
    
    }
  .TextField-without-border-new-radius fieldset { border-radius: 0; 
  height:40px;
    font-size: 8px;
    
    }
    .TextField-without-field-top-border-radius fieldset { border-radius: 0; 
   
      font-size: 8px;
      
      }
    .dialog-header{
      background:#19212b;
      height:53px;
      padding-right:10px;
    }


    #btn_btn_Cancel_chip
{background: #e64b4b;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 14px;
 cursor: pointer;
  width: 40px;
 margin-top:10px;
  margin-left:20px;
  height: 30px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
border-radius: 0px;
float:right;
text-align: center;
}


#btn_btn_Cancel_chip:hover
{
 
    text-transform: capitalize;
  width: 40px;
  height: 30px;
 
  color: #fff;
  text-align: center;
  background: red;
  
  
}

#remove-shadow{
  box-shadow:0px;
  background:red;
 
}

#showsremove{
  padding:0px;
  background:red;
}

#textform{
  margin-left:50px;
}