


#btnchip
{background: #7cbb42;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 12px;
 cursor: pointer;
  width: 130px;
  height: 30px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
}


#btnchip:hover
{
 
    text-transform: capitalize;
  width: 130px;
  height: 30px;
 
  color: #fff;
  text-align: center;
  background: #87d045;
  
  
}

.TextField-without-border-radius fieldset { border-radius: 0; 
  width:170px;
  font-family: ubuntu;
  font-size: 8px;
  
  }