#btnchip_
{background: #7cbb42;
    text-transform: capitalize;
    font-family:'Ubuntu';
    color: #fff;
    font-size: 12px;
 cursor: pointer;
  width: 170px;
  height: 30px;
 border:1px solid #bfbfbf57;
margin-bottom: 15px;
position: relative;
}


#btnchip_:hover
{
 
    text-transform: capitalize;
  width: 170px;
  height: 30px;
 
  color: #fff;
  text-align: center;
  background: #87d045;
  
  
}
.TextField-without-border-radius-for-react fieldset { border-radius: 0; 
  
  font-size: 8px;
  
  }